<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,277},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{289,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,512}}</string>
                <key>sourceSize</key>
                <string>{289,512}</string>
            </dict>
            <key>bird_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,526},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>bird_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,501},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>bird_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,500},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,552},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>blast.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,431},{22,10}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{22,10}}</string>
                <key>sourceSize</key>
                <string>{28,16}</string>
            </dict>
            <key>game over.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,66},{188,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,39}}</string>
                <key>sourceSize</key>
                <string>{188,39}</string>
            </dict>
            <key>get_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,107},{174,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,45}}</string>
                <key>sourceSize</key>
                <string>{174,45}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{309,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,112}}</string>
                <key>sourceSize</key>
                <string>{309,112}</string>
            </dict>
            <key>kirakira.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,66},{7,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{7,12}}</string>
                <key>sourceSize</key>
                <string>{9,16}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,49},{190,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{190,15}}</string>
                <key>sourceSize</key>
                <string>{204,17}</string>
            </dict>
            <key>medal_bronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,408},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>medal_cupronickel.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,455},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medal_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,408},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>medal_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,454},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,116},{33,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,15}}</string>
                <key>sourceSize</key>
                <string>{33,15}</string>
            </dict>
            <key>number_0_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,311},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>number_0_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,405},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>number_1_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,455},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>number_1_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,80},{6,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{6,14}}</string>
                <key>sourceSize</key>
                <string>{6,16}</string>
            </dict>
            <key>number_2_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,124},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>number_2_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,181},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>number_3_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,288},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>number_3_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,391},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_4_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,265},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>number_4_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,377},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_5_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,242},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>number_5_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,363},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>number_6_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,107},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>number_6_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,166},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>number_7_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,219},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>number_7_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,151},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>number_8_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,196},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>number_8_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,349},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>number_9_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,141},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>number_9_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,334},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,247},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,561},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>pipe_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,382},{52,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,270}}</string>
                <key>sourceSize</key>
                <string>{52,270}</string>
            </dict>
            <key>pipe_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,382},{52,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,242}}</string>
                <key>sourceSize</key>
                <string>{52,242}</string>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,419},{10,11}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,586},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,217},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>score_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,154},{226,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,117}}</string>
                <key>sourceSize</key>
                <string>{226,117}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,187},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,157},{81,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,28}}</string>
                <key>sourceSize</key>
                <string>{81,30}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{192,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,45}}</string>
                <key>sourceSize</key>
                <string>{192,45}</string>
            </dict>
            <key>tutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,307},{78,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{78,99}}</string>
                <key>sourceSize</key>
                <string>{82,107}</string>
            </dict>
            <key>white.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,527},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FlappyBirdOutLine.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3529d4fa470e4b6551a97ec44e884809:f09e999a8ed4315d02645a8c6669f249:930ae59af05808355c8877d6da888520$</string>
            <key>textureFileName</key>
            <string>FlappyBirdOutLine.pvr.ccz</string>
        </dict>
    </dict>
</plist>
