<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,289},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{288,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,512}}</string>
                <key>sourceSize</key>
                <string>{288,512}</string>
            </dict>
            <key>bird_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,538},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>bird_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,513},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>bird_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,512},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,564},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>blast.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,107},{22,10}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{22,10}}</string>
                <key>sourceSize</key>
                <string>{28,16}</string>
            </dict>
            <key>game over.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,66},{188,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,39}}</string>
                <key>sourceSize</key>
                <string>{188,39}</string>
            </dict>
            <key>get_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,107},{174,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,45}}</string>
                <key>sourceSize</key>
                <string>{174,45}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,112}}</string>
                <key>sourceSize</key>
                <string>{308,112}</string>
            </dict>
            <key>kirakira.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,66},{7,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{7,12}}</string>
                <key>sourceSize</key>
                <string>{9,16}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,49},{190,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{190,15}}</string>
                <key>sourceSize</key>
                <string>{204,17}</string>
            </dict>
            <key>medal_bronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,420},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>medal_cupronickel.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,467},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medal_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,420},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>medal_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,466},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,116},{33,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,15}}</string>
                <key>sourceSize</key>
                <string>{33,15}</string>
            </dict>
            <key>number_0_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,311},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>number_0_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,154},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>number_1_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,391},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>number_1_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,49},{6,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{6,14}}</string>
                <key>sourceSize</key>
                <string>{6,16}</string>
            </dict>
            <key>number_2_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,136},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>number_2_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,181},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>number_3_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,288},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>number_3_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,154},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_4_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,265},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>number_4_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,377},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_5_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,242},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>number_5_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,363},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>number_6_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,119},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>number_6_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,166},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>number_7_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,219},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>number_7_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,151},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>number_8_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,196},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>number_8_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,349},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>number_9_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,153},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>number_9_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,334},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,259},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,564},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>pipe_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,382},{52,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,270}}</string>
                <key>sourceSize</key>
                <string>{52,270}</string>
            </dict>
            <key>pipe_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,382},{52,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,242}}</string>
                <key>sourceSize</key>
                <string>{52,242}</string>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,154},{10,11}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,573},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,229},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>score_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,154},{226,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,117}}</string>
                <key>sourceSize</key>
                <string>{226,117}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,199},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,169},{81,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,28}}</string>
                <key>sourceSize</key>
                <string>{81,30}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{192,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,45}}</string>
                <key>sourceSize</key>
                <string>{192,45}</string>
            </dict>
            <key>tutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,319},{78,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{78,99}}</string>
                <key>sourceSize</key>
                <string>{82,107}</string>
            </dict>
            <key>white.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,539},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FlappyBird.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9883f0bbd2d01aad7edcfe84689549e6:b8ef4ac8da2d40cb012b5d23bf4dc8b2:43440efe28393099bbb81e22d10bffa2$</string>
            <key>textureFileName</key>
            <string>FlappyBird.pvr.ccz</string>
        </dict>
    </dict>
</plist>
